In [1]:
from pandas_datareader.famafrench import get_available_datasets

import pandas as pd
import numpy as np

from statsmodels.api import OLS, add_constant
import pandas_datareader.data as web

from linearmodels.asset_pricing import LinearFactorModel

import matplotlib.pyplot as plt
import seaborn as sns

DIR = '/Users/yoon/dev/qe/resource/machine_learning_for_algorithmic_trading_2nd_edition'

In [2]:
ff_factor = 'F-F_Research_Data_5_Factors_2x3'
ff_portfolio = '17_Industry_Portfolios'

In [3]:
ff_factor_data = web.DataReader(ff_factor, 'famafrench', start='2010', end='2017-12')[0]
ff_factor_data.info()

<class 'pandas.core.frame.DataFrame'>
PeriodIndex: 96 entries, 2010-01 to 2017-12
Freq: M
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Mkt-RF  96 non-null     float64
 1   SMB     96 non-null     float64
 2   HML     96 non-null     float64
 3   RMW     96 non-null     float64
 4   CMA     96 non-null     float64
 5   RF      96 non-null     float64
dtypes: float64(6)
memory usage: 5.2 KB

In [4]:
ff_portfolio_data = web.DataReader(ff_portfolio, 'famafrench', start='2010', end='2017-12')[0]
ff_portfolio_data = ff_portfolio_data.sub(ff_factor_data.RF, axis=0)
ff_portfolio_data

,Food,Mines,Oil,Clths,Durbl,Chems,Cnsum,Cnstr,Steel,FabPr,Machn,Cars,Trans,Utils,Rtail,Finan,Other
Date,,,,,,,,,,,,,,,,,
2010-01,-2.06,-12.89,-4.83,-3.47,-3.51,-4.43,-0.44,-2.88,-11.92,-2.98,-7.33,-0.15,-2.11,-4.49,-1.30,-1.07,-4.84
2010-02,1.86,12.38,2.26,6.70,9.94,5.79,1.38,5.90,4.20,7.32,7.31,6.52,5.98,-0.41,3.70,2.70,2.48
2010-03,5.05,7.23,3.21,11.13,5.55,7.50,3.26,5.54,12.03,5.29,7.75,8.87,8.99,3.12,6.46,8.16,6.43
2010-04,-1.29,-0.85,4.31,4.75,6.87,2.48,-1.97,10.86,-2.64,3.43,4.81,6.75,3.06,2.84,1.35,0.92,1.72
2010-05,-4.82,-7.96,-10.11,-5.99,-5.52,-10.57,-6.28,-8.09,-7.02,-9.00,-8.10,-6.89,-7.61,-6.30,-5.72,-9.22,-7.89
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-08,-1.88,0.65,-5.21,-4.70,-3.69,1.49,0.55,-0.45,1.56,-1.53,1.27,0.67,1.50,2.11,-1.43,-1.31,1.68
2017-09,-0.28,-1.21,10.89,0.94,4.49,6.92,0.56,7.73,3.63,7.29,5.61,7.45,4.69,-2.06,0.65,5.13,0.18
2017-10,0.88,1.25,0.28,3.15,-1.65,4.70,-3.68,3.95,2.14,1.63,5.99,1.09,-0.34,2.98,3.89,3.30,2.47
2017-11,4.22,0.77,2.85,7.37,3.76,2.34,2.68,6.90,-1.46,0.36,2.35,2.53,5.47,2.34,8.78,3.85,1.67
2017-12,1.19,11.30,5.01,3.81,-2.43,0.42,1.76,3.79,13.10,0.51,0.26,-0.60,2.93,-5.11,1.46,0.96,0.67

In [5]:
ff_portfolio_data.info()

<class 'pandas.core.frame.DataFrame'>
PeriodIndex: 96 entries, 2010-01 to 2017-12
Freq: M
Data columns (total 17 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Food    96 non-null     float64
 1   Mines   96 non-null     float64
 2   Oil     96 non-null     float64
 3   Clths   96 non-null     float64
 4   Durbl   96 non-null     float64
 5   Chems   96 non-null     float64
 6   Cnsum   96 non-null     float64
 7   Cnstr   96 non-null     float64
 8   Steel   96 non-null     float64
 9   FabPr   96 non-null     float64
 10  Machn   96 non-null     float64
 11  Cars    96 non-null     float64
 12  Trans   96 non-null     float64
 13  Utils   96 non-null     float64
 14  Rtail   96 non-null     float64
 15  Finan   96 non-null     float64
 16  Other   96 non-null     float64
dtypes: float64(17)
memory usage: 13.5 KB

In [6]:
with pd.HDFStore(f'{DIR}/assets.h5') as store:

    print(store.info())

<class 'pandas.io.pytables.HDFStore'>
File path: /Users/yoon/dev/qe/resource/machine_learning_for_algorithmic_trading_2nd_edition/assets.h5
/quandl/wiki/prices            frame        (shape->[15389314,12])
/quandl/wiki/stocks            frame        (shape->[1,2])
/sp500/fred                    frame        (shape->[2609,1])
/sp500/stocks                  frame        (shape->[505,7])
/us_equities/stocks            frame        (shape->[6834,6])

In [7]:
with pd.HDFStore(f'{DIR}/assets.h5') as store:
    
    prices = store['/quandl/wiki/prices'].adj_close.unstack().loc['2010':'2017']
    equities = store['/us_equities/stocks'].drop_duplicates()

In [8]:
equities

,name,lastsale,marketcap,ipoyear,sector,industry
ticker,,,,,,
PIH,"1347 Property Insurance Holdings, Inc.",7.2001,4.309000e+07,2014.0,Finance,Property-Casualty Insurers
PIHPP,"1347 Property Insurance Holdings, Inc.",25.6200,NaN,NaN,Finance,Property-Casualty Insurers
TURN,180 Degree Capital Corp.,2.2600,7.033000e+07,NaN,Finance,Finance/Investors Services
FLWS,"1-800 FLOWERS.COM, Inc.",12.9000,8.333900e+08,1999.0,Consumer Services,Other Specialty Stores
FCCY,1st Constitution Bancorp (NJ),21.3000,1.781400e+08,NaN,Finance,Savings Institutions
...,...,...,...,...,...,...
ZOES,"Zoe&#39;s Kitchen, Inc.",10.0700,1.974000e+08,2014.0,Consumer Services,Restaurants
ZTS,Zoetis Inc.,86.0700,4.165000e+10,2013.0,Health Care,Major Pharmaceuticals
ZTO,ZTO Express (Cayman) Inc.,20.2200,1.434000e+10,2016.0,Transportation,Trucking Freight/Courier Services
ZUO,"Zuora, Inc.",28.3200,3.040000e+09,2018.0,Technology,Computer Software: Prepackaged Software
ZYME,Zymeworks Inc.,15.3000,4.868100e+08,2017.0,Health Care,Major Pharmaceuticals

In [9]:
prices

ticker,A,AA,AAL,AAMC,AAN,AAOI,AAON,AAP,AAPL,AAT,...,ZIOP,ZIXI,ZLC,ZLTQ,ZMH,ZNGA,ZOES,ZQK,ZTS,ZUMZ
date,,,,,,,,,,,,,,,,,,,,,
2010-01-04,21.354133,NaN,12.394092,NaN,14.391425,NaN,5.472257,39.554636,27.503268,NaN,...,2.95,1.78,2.70,NaN,58.049747,NaN,NaN,2.24,NaN,12.360
2010-01-05,21.122172,NaN,13.797197,NaN,14.520197,NaN,5.313483,39.319541,27.550818,NaN,...,3.05,1.70,2.69,NaN,59.887376,NaN,NaN,2.19,NaN,12.290
2010-01-06,21.047125,NaN,13.225561,NaN,14.520197,NaN,5.102695,39.662387,27.112585,NaN,...,3.08,1.70,2.69,NaN,59.868033,NaN,NaN,2.19,NaN,12.680
2010-01-07,21.019836,NaN,13.615313,NaN,14.637558,NaN,5.291583,39.652592,27.062465,NaN,...,3.04,2.22,2.70,NaN,61.241419,NaN,NaN,2.21,NaN,14.660
2010-01-08,21.013013,NaN,13.355478,NaN,14.539757,NaN,5.354545,39.809321,27.242385,NaN,...,3.10,2.12,2.78,NaN,59.955078,NaN,NaN,2.23,NaN,14.730
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-12-22,67.350000,49.99,52.590000,77.8,40.260000,39.96,36.750000,100.550000,175.010000,37.74,...,4.05,4.45,NaN,NaN,NaN,4.00,17.19,NaN,71.99,21.450
2017-12-26,67.250000,50.38,52.850000,77.8,40.360000,38.91,36.600000,101.960000,170.570000,37.95,...,4.07,4.44,NaN,NaN,NaN,3.95,17.07,NaN,72.34,21.850
2017-12-27,67.300000,51.84,52.400000,74.0,40.600000,38.66,36.500000,99.770000,170.600000,37.91,...,4.03,4.56,NaN,NaN,NaN,4.01,17.57,NaN,72.45,21.150
2017-12-28,67.450000,54.14,52.460000,74.0,40.240000,38.86,36.800000,99.710000,171.080000,38.41,...,4.00,4.41,NaN,NaN,NaN,3.97,17.29,NaN,72.39,21.200
2017-12-29,66.970000,53.87,52.030000,81.6,39.850000,37.82,36.700000,99.690000,169.230000,38.24,...,4.14,4.38,NaN,NaN,NaN,4.00,16.72,NaN,72.04,20.825

In [10]:
prices.columns

Index(['A', 'AA', 'AAL', 'AAMC', 'AAN', 'AAOI', 'AAON', 'AAP', 'AAPL', 'AAT',
       ...
       'ZIOP', 'ZIXI', 'ZLC', 'ZLTQ', 'ZMH', 'ZNGA', 'ZOES', 'ZQK', 'ZTS',
       'ZUMZ'],
      dtype='object', name='ticker', length=3199)

In [11]:
equities.filter(prices.columns, axis=0)

,name,lastsale,marketcap,ipoyear,sector,industry
ticker,,,,,,
A,"Agilent Technologies, Inc.",61.25,1.960000e+10,1999.0,Capital Goods,Biotechnology: Laboratory Analytical Instruments
AA,Alcoa Corporation,45.80,8.540000e+09,2016.0,Basic Industries,Aluminum
AAL,"American Airlines Group, Inc.",37.75,1.767000e+10,NaN,Transportation,Air Freight/Delivery Services
AAMC,Altisource Asset Management Corp,68.55,1.104900e+08,NaN,Finance,Real Estate
AAN,"Aaron&#39;s, Inc.",44.09,3.200000e+09,NaN,Technology,Diversified Commercial Services
...,...,...,...,...,...,...
ZIXI,Zix Corporation,5.48,2.944800e+08,NaN,Technology,EDP Services
ZNGA,Zynga Inc.,4.14,3.550000e+09,2011.0,Technology,EDP Services
ZOES,"Zoe&#39;s Kitchen, Inc.",10.07,1.974000e+08,2014.0,Consumer Services,Restaurants
ZTS,Zoetis Inc.,86.07,4.165000e+10,2013.0,Health Care,Major Pharmaceuticals
ZUMZ,Zumiez Inc.,24.80,6.316500e+08,2005.0,Consumer Services,Clothing/Shoe/Accessory Stores

In [12]:
sectors = equities.filter(prices.columns, axis=0).sector.to_dict()
sectors

{'A': 'Capital Goods',
 'AA': 'Basic Industries',
 'AAL': 'Transportation',
 'AAMC': 'Finance',
 'AAN': 'Technology',
 'AAOI': 'Technology',
 'AAON': 'Capital Goods',
 'AAP': 'Consumer Services',
 'AAPL': 'Technology',
 'AAT': 'Consumer Services',
 'AAWW': 'Transportation',
 'ABAX': 'Capital Goods',
 'ABBV': 'Health Care',
 'ABC': 'Health Care',
 'ABCB': 'Finance',
 'ABG': 'Consumer Durables',
 'ABM': 'Finance',
 'ABMD': 'Health Care',
 'ABT': 'Health Care',
 'ACAD': 'Health Care',
 'ACC': 'Consumer Services',
 'ACCO': 'Consumer Durables',
 'ACET': 'Health Care',
 'ACGL': 'Finance',
 'ACHC': 'Health Care',
 'ACHN': 'Health Care',
 'ACIW': 'Technology',
 'ACLS': 'Technology',
 'ACM': 'Consumer Services',
 'ACN': 'Miscellaneous',
 'ACOR': 'Health Care',
 'ACRE': 'Consumer Services',
 'ACRX': 'Health Care',
 'ACTG': 'Miscellaneous',
 'ACXM': 'Technology',
 'ADBE': 'Technology',
 'ADC': 'Consumer Services',
 'ADES': 'Basic Industries',
 'ADI': 'Technology',
 'ADM': 'Consumer Non-Durables',
 'ADMS': 'Health Care',
 'ADP': 'Technology',
 'ADS': 'Miscellaneous',
 'ADSK': 'Technology',
 'ADT': 'Consumer Services',
 'ADTN': 'Public Utilities',
 'ADUS': 'Health Care',
 'AE': 'Energy',
 'AEE': 'Public Utilities',
 'AEGN': 'Basic Industries',
 'AEIS': 'Capital Goods',
 'AEL': 'Finance',
 'AEO': 'Consumer Services',
 'AEP': 'Public Utilities',
 'AERI': 'Health Care',
 'AES': 'Basic Industries',
 'AET': 'Health Care',
 'AFG': 'Finance',
 'AFH': 'Finance',
 'AFL': 'Finance',
 'AFSI': 'Finance',
 'AGCO': 'Capital Goods',
 'AGEN': 'Health Care',
 'AGIO': 'Health Care',
 'AGM': 'Finance',
 'AGN': 'Health Care',
 'AGNC': 'Consumer Services',
 'AGO': 'Finance',
 'AGTC': 'Health Care',
 'AGX': 'Basic Industries',
 'AGYS': 'Technology',
 'AHC': 'Consumer Services',
 'AHH': 'Finance',
 'AHL': 'Finance',
 'AHT': 'Consumer Services',
 'AI': 'Finance',
 'AIG': 'Finance',
 'AIMC': 'Capital Goods',
 'AIN': 'Basic Industries',
 'AINV': nan,
 'AIQ': nan,
 'AIR': 'Capital Goods',
 'AIT': 'Consumer Durables',
 'AIV': 'Consumer Services',
 'AIZ': 'Finance',
 'AJG': 'Finance',
 'AKAM': 'Miscellaneous',
 'AKAO': 'Health Care',
 'AKBA': 'Health Care',
 'AKR': 'Consumer Services',
 'AKRX': 'Health Care',
 'AKS': 'Basic Industries',
 'AL': 'Technology',
 'ALB': 'Basic Industries',
 'ALCO': 'Consumer Non-Durables',
 'ALDR': 'Health Care',
 'ALE': 'Public Utilities',
 'ALEX': 'Consumer Services',
 'ALG': 'Capital Goods',
 'ALGN': 'Health Care',
 'ALGT': 'Transportation',
 'ALIM': 'Health Care',
 'ALK': 'Transportation',
 'ALKS': 'Health Care',
 'ALL': 'Finance',
 'ALLE': 'Consumer Services',
 'ALNY': 'Health Care',
 'ALSN': 'Capital Goods',
 'ALTR': 'Technology',
 'ALX': 'Consumer Services',
 'ALXN': 'Health Care',
 'AMAG': 'Health Care',
 'AMAT': 'Technology',
 'AMBA': 'Technology',
 'AMBC': 'Finance',
 'AMBR': 'Technology',
 'AMC': 'Consumer Services',
 'AMCX': 'Consumer Services',
 'AMD': 'Technology',
 'AME': 'Consumer Durables',
 'AMED': 'Health Care',
 'AMG': 'Finance',
 'AMGN': 'Health Care',
 'AMKR': 'Technology',
 'AMNB': 'Finance',
 'AMP': 'Finance',
 'AMPE': 'Health Care',
 'AMRC': 'Basic Industries',
 'AMRS': 'Basic Industries',
 'AMSC': 'Consumer Durables',
 'AMSF': 'Finance',
 'AMSWA': 'Technology',
 'AMT': 'Consumer Services',
 'AMTD': 'Finance',
 'AMWD': 'Basic Industries',
 'AMZN': 'Consumer Services',
 'AN': 'Consumer Durables',
 'ANAT': 'Finance',
 'ANCX': 'Finance',
 'ANDE': 'Consumer Services',
 'ANDV': 'Energy',
 'ANF': 'Consumer Services',
 'ANGI': 'Consumer Services',
 'ANGO': 'Health Care',
 'ANH': 'Consumer Services',
 'ANIK': 'Health Care',
 'ANIP': 'Health Care',
 'ANSS': 'Technology',
 'ANTM': 'Health Care',
 'AOI': 'Consumer Services',
 'AON': 'Finance',
 'AOS': 'Consumer Durables',
 'AOSL': 'Technology',
 'AP': 'Capital Goods',
 'APA': 'Energy',
 'APAM': 'Finance',
 'APC': 'Energy',
 'APD': 'Basic Industries',
 'APEI': 'Consumer Services',
 'APH': 'Capital Goods',
 'APOG': 'Capital Goods',
 'APTV': 'Capital Goods',
 'ARAY': 'Health Care',
 'ARC': 'Consumer Services',
 'ARCB': 'Transportation',
 'ARCC': nan,
 'ARCW': 'Capital Goods',
 'ARE': 'Consumer Services',
 'AREX': 'Energy',
 'ARI': 'Consumer Services',
 'ARII': 'Capital Goods',
 'ARNA': 'Health Care',
 'ARNC': 'Capital Goods',
 'AROW': 'Finance',
 'ARQL': 'Health Care',
 'ARR': 'Consumer Services',
 'ARRS': 'Technology',
 'ARRY': 'Health Care',
 'ARTNA': 'Public Utilities',
 'ARW': 'Consumer Non-Durables',
 'ARWR': 'Health Care',
 'ASC': 'Transportation',
 'ASCMA': 'Consumer Services',
 'ASGN': 'Technology',
 'ASH': 'Consumer Durables',
 'ASNA': 'Consumer Services',
 'ASPS': 'Consumer Services',
 'ASTE': 'Capital Goods',
 'AT': 'Energy',
 'ATEC': 'Health Care',
 'ATEN': 'Technology',
 'ATHN': 'Miscellaneous',
 'ATI': 'Basic Industries',
 'ATLO': 'Finance',
 'ATNI': 'Public Utilities',
 'ATNM': 'Health Care',
 'ATO': 'Public Utilities',
 'ATR': 'Consumer Non-Durables',
 'ATRC': 'Health Care',
 'ATRI': 'Health Care',
 'ATRO': 'Capital Goods',
 'ATRS': 'Health Care',
 'ATSG': 'Transportation',
 'ATU': 'Technology',
 'ATVI': 'Technology',
 'AVA': 'Public Utilities',
 'AVAV': 'Capital Goods',
 'AVB': 'Consumer Services',
 'AVD': 'Basic Industries',
 'AVEO': 'Health Care',
 'AVGO': 'Technology',
 'AVHI': 'Capital Goods',
 'AVID': 'Technology',
 'AVNW': 'Technology',
 'AVP': 'Consumer Non-Durables',
 'AVT': 'Consumer Non-Durables',
 'AVX': 'Capital Goods',
 'AVY': 'Consumer Durables',
 'AWI': 'Consumer Non-Durables',
 'AWK': 'Public Utilities',
 'AWR': 'Public Utilities',
 'AXAS': 'Energy',
 'AXDX': 'Capital Goods',
 'AXE': 'Consumer Non-Durables',
 'AXL': 'Capital Goods',
 'AXP': 'Finance',
 'AXS': 'Finance',
 'AYI': 'Consumer Durables',
 'AYR': 'Technology',
 'AZO': 'Consumer Services',
 'AZPN': 'Technology',
 'AZZ': 'Consumer Durables',
 'B': 'Capital Goods',
 'BA': 'Capital Goods',
 'BABY': 'Health Care',
 'BAC': 'Finance',
 'BAH': 'Consumer Services',
 'BANC': 'Finance',
 'BANF': 'Finance',
 'BANR': 'Finance',
 'BAS': 'Energy',
 'BAX': 'Health Care',
 'BBBY': 'Consumer Services',
 'BBGI': 'Consumer Services',
 'BBOX': 'Technology',
 'BBSI': 'Technology',
 'BBT': 'Finance',
 'BBW': 'Consumer Services',
 'BBX': 'Finance',
 'BBY': 'Consumer Services',
 'BC': 'Energy',
 'BCC': 'Consumer Services',
 'BCEI': 'Energy',
 'BCO': 'Transportation',
 'BCOR': 'Finance',
 'BCOV': 'Technology',
 'BCPC': 'Basic Industries',
 'BCRX': 'Health Care',
 'BDC': 'Basic Industries',
 'BDGE': 'Finance',
 'BDN': 'Consumer Services',
 'BDSI': 'Health Care',
 'BDX': 'Health Care',
 'BEAT': 'Health Care',
 'BECN': 'Consumer Services',
 'BELFB': 'Capital Goods',
 'BEN': 'Finance',
 'BERY': 'Consumer Non-Durables',
 'BFAM': 'Miscellaneous',
 'BFIN': 'Finance',
 'BFS': 'Consumer Services',
 'BG': 'Consumer Non-Durables',
 'BGCP': 'Finance',
 'BGFV': 'Consumer Services',
 'BGG': 'Energy',
 'BGS': 'Consumer Non-Durables',
 'BH': 'Consumer Services',
 'BHB': 'Finance',
 'BHE': 'Technology',
 'BHF': 'Finance',
 'BHGE': 'Energy',
 'BHLB': 'Finance',
 'BID': 'Miscellaneous',
 'BIDU': 'Technology',
 'BIG': 'Consumer Services',
 'BIIB': 'Health Care',
 'BIO': 'Capital Goods',
 'BIOL': 'Health Care',
 'BIOS': 'Health Care',
 'BJRI': 'Consumer Services',
 'BK': 'Finance',
 'BKCC': nan,
 'BKD': 'Health Care',
 'BKE': 'Consumer Services',
 'BKH': 'Public Utilities',
 'BKNG': 'Miscellaneous',
 'BKS': 'Consumer Services',
 'BKU': 'Finance',
 'BLDR': 'Consumer Services',
 'BLK': 'Finance',
 'BLKB': 'Technology',
 'BLL': 'Consumer Durables',
 'BLMN': 'Consumer Services',
 'BLUE': 'Health Care',
 'BLX': 'Finance',
 'BMI': 'Capital Goods',
 'BMRC': 'Finance',
 'BMRN': 'Health Care',
 'BMS': 'Consumer Durables',
 'BMTC': 'Finance',
 'BMY': 'Health Care',
 'BNCL': 'Finance',
 'BNFT': 'Technology',
 'BOFI': 'Finance',
 'BOH': 'Finance',
 'BOKF': 'Finance',
 'BOOM': 'Capital Goods',
 'BP': 'Energy',
 'BPFH': 'Finance',
 'BPI': 'Consumer Services',
 'BPOP': 'Finance',
 'BPTH': 'Health Care',
 'BR': 'Miscellaneous',
 'BRC': 'Consumer Durables',
 'BREW': 'Consumer Non-Durables',
 'BRKL': 'Finance',
 'BRKR': 'Capital Goods',
 'BRKS': 'Technology',
 'BRO': 'Finance',
 'BRS': 'Transportation',
 'BRSS': 'Capital Goods',
 'BRT': 'Consumer Services',
 'BSET': 'Consumer Durables',
 'BSRR': 'Finance',
 'BSTC': 'Health Care',
 'BSX': 'Health Care',
 'BTU': 'Energy',
 'BTX': 'Health Care',
 'BURL': 'Consumer Services',
 'BUSE': 'Finance',
 'BV': 'Consumer Non-Durables',
 'BWA': 'Capital Goods',
 'BWINB': 'Finance',
 'BXC': 'Capital Goods',
 'BXP': 'Consumer Services',
 'BXS': 'Finance',
 'BYD': 'Consumer Services',
 'BZH': 'Capital Goods',
 'C': 'Finance',
 'CA': 'Technology',
 'CAC': 'Finance',
 'CACC': 'Finance',
 'CACI': 'Technology',
 'CAG': 'Consumer Non-Durables',
 'CAH': 'Health Care',
 'CAKE': 'Consumer Services',
 'CALL': 'Public Utilities',
 'CALM': 'Consumer Non-Durables',
 'CALX': 'Consumer Services',
 'CAMP': 'Technology',
 'CAR': 'Consumer Services',
 'CARA': 'Health Care',
 'CARB': 'Technology',
 'CASH': 'Finance',
 'CASS': 'Miscellaneous',
 'CASY': 'Consumer Durables',
 'CAT': 'Capital Goods',
 'CATM': 'Miscellaneous',
 'CATO': 'Consumer Services',
 'CATY': 'Finance',
 'CAVM': 'Technology',
 'CB': 'Finance',
 'CBB': 'Public Utilities',
 'CBK': 'Consumer Services',
 'CBL': 'Consumer Services',
 'CBM': 'Health Care',
 'CBOE': 'Finance',
 'CBPX': 'Capital Goods',
 'CBRE': 'Finance',
 'CBRL': 'Consumer Services',
 'CBS': nan,
 'CBSH': 'Finance',
 'CBT': 'Basic Industries',
 'CBU': 'Finance',
 'CBZ': 'Miscellaneous',
 'CCBG': 'Finance',
 'CCE': 'Consumer Non-Durables',
 'CCF': 'Consumer Durables',
 'CCI': 'Consumer Services',
 'CCK': 'Consumer Durables',
 'CCL': 'Consumer Services',
 'CCMP': 'Technology',
 'CCNE': 'Finance',
 'CCO': 'Consumer Services',
 'CCOI': 'Consumer Services',
 'CCRN': 'Technology',
 'CCXI': 'Health Care',
 'CDE': 'Basic Industries',
 'CDNS': 'Technology',
 'CDR': 'Consumer Services',
 'CE': 'Basic Industries',
 'CECE': 'Capital Goods',
 'CECO': 'Consumer Services',
 'CELG': 'Health Care',
 'CENTA': 'Consumer Durables',
 'CENX': 'Basic Industries',
 'CERN': 'Technology',
 'CERS': 'Health Care',
 'CETV': 'Consumer Services',
 'CEVA': 'Technology',
 'CF': 'Basic Industries',
 'CFFI': 'Finance',
 'CFFN': 'Finance',
 'CFG': 'Finance',
 'CFR': 'Finance',
 'CFX': 'Capital Goods',
 'CGNX': 'Capital Goods',
 'CHCO': 'Finance',
 'CHD': 'Basic Industries',
 'CHDN': 'Consumer Services',
 'CHE': 'Health Care',
 'CHEF': 'Consumer Non-Durables',
 'CHFC': 'Finance',
 'CHFN': 'Finance',
 'CHGG': 'Consumer Services',
 'CHH': 'Consumer Services',
 'CHK': 'Energy',
 'CHKP': 'Technology',
 'CHMG': 'Finance',
 'CHRW': 'Transportation',
 'CHS': 'Consumer Services',
 'CHSP': 'Consumer Services',
 'CHTR': 'Consumer Services',
 'CHUY': 'Consumer Services',
 'CI': 'Health Care',
 'CIA': 'Finance',
 'CIDM': 'Consumer Services',
 'CIEN': 'Public Utilities',
 'CIM': 'Consumer Services',
 'CINF': 'Finance',
 'CIR': 'Capital Goods',
 'CIT': 'Finance',
 'CIX': 'Capital Goods',
 'CKH': 'Transportation',
 'CL': 'Consumer Non-Durables',
 'CLCT': 'Miscellaneous',
 'CLD': 'Energy',
 'CLDT': 'Consumer Services',
 'CLDX': 'Health Care',
 'CLF': 'Basic Industries',
 'CLFD': 'Public Utilities',
 'CLGX': 'Technology',
 'CLH': 'Basic Industries',
 'CLI': 'Consumer Services',
 'CLNE': 'Public Utilities',
 'CLNY': 'Consumer Services',
 'CLR': 'Energy',
 'CLUB': 'Consumer Services',
 'CLVS': 'Health Care',
 'CLW': 'Basic Industries',
 'CLX': 'Consumer Durables',
 'CMA': 'Finance',
 'CMC': 'Basic Industries',
 'CMCO': 'Capital Goods',
 'CMCSA': 'Consumer Services',
 'CME': 'Finance',
 'CMG': 'Consumer Services',
 'CMI': 'Energy',
 'CMO': 'Consumer Services',
 'CMP': 'Basic Industries',
 'CMRX': 'Health Care',
 'CMS': 'Public Utilities',
 'CMTL': 'Technology',
 'CNA': 'Finance',
 'CNBKA': 'Finance',
 'CNC': 'Health Care',
 'CNK': 'Consumer Services',
 'CNMD': 'Health Care',
 'CNO': 'Finance',
 'CNOB': 'Finance',
 'CNP': 'Public Utilities',
 'CNS': 'Finance',
 'CNSL': 'Public Utilities',
 'CNX': 'Energy',
 'COBZ': 'Finance',
 'COF': 'Finance',
 'COG': 'Energy',
 'COHR': 'Capital Goods',
 'COHU': 'Capital Goods',
 'COKE': 'Consumer Non-Durables',
 'COL': 'Capital Goods',
 'COLB': 'Finance',
 'COLM': 'Consumer Non-Durables',
 'CONE': 'Consumer Services',
 'CONN': 'Consumer Services',
 'COO': 'Health Care',
 'COP': 'Energy',
 'COR': 'Consumer Services',
 'CORE': 'Consumer Non-Durables',
 'CORR': 'Consumer Services',
 'CORT': 'Health Care',
 'COST': 'Consumer Services',
 'COTY': 'Consumer Non-Durables',
 'COUP': 'Technology',
 'COWN': 'Finance',
 'CPA': 'Transportation',
 'CPB': 'Consumer Non-Durables',
 'CPE': 'Energy',
 'CPF': 'Finance',
 'CPK': 'Public Utilities',
 'CPLA': 'Consumer Services',
 'CPRT': 'Consumer Durables',
 'CPS': 'Capital Goods',
 'CPSI': 'Technology',
 'CPSS': 'Finance',
 'CPST': 'Energy',
 'CPT': 'Consumer Services',
 'CR': 'Capital Goods',
 'CRAI': 'Miscellaneous',
 'CRAY': 'Technology',
 'CRCM': 'Consumer Services',
 'CREE': 'Technology',
 'CRI': 'Consumer Non-Durables',
 'CRIS': 'Health Care',
 'CRK': 'Energy',
 'CRL': 'Health Care',
 'CRM': 'Technology',
 'CRMT': 'Consumer Durables',
 'CROX': 'Consumer Non-Durables',
 'CRR': 'Capital Goods',
 'CRS': 'Basic Industries',
 'CRUS': 'Technology',
 'CRVL': 'Finance',
 'CRY': 'Health Care',
 'CRZO': 'Energy',
 'CSCO': 'Technology',
 'CSFL': 'Finance',
 'CSGP': 'Miscellaneous',
 'CSGS': 'Technology',
 'CSII': 'Health Care',
 'CSL': 'Basic Industries',
 'CSLT': 'Technology',
 'CSOD': 'Technology',
 'CSS': 'Consumer Services',
 'CSU': 'Health Care',
 'CSV': 'Consumer Services',
 'CSWC': 'Consumer Non-Durables',
 'CSX': 'Transportation',
 'CTAS': 'Consumer Non-Durables',
 'CTB': 'Consumer Durables',
 'CTBI': 'Finance',
 'CTG': 'Technology',
 'CTIC': 'Health Care',
 'CTL': 'Public Utilities',
 'CTO': 'Finance',
 'CTRE': 'Consumer Services',
 'CTRL': 'Capital Goods',
 'CTRN': 'Consumer Services',
 'CTS': 'Technology',
 'CTSH': 'Technology',
 'CTWS': 'Public Utilities',
 'CTXS': 'Technology',
 'CUB': 'Capital Goods',
 'CUBE': 'Consumer Services',
 'CUBI': 'Finance',
 'CUI': 'Consumer Non-Durables',
 'CUR': 'Health Care',
 'CUTR': 'Health Care',
 'CUZ': 'Consumer Services',
 'CVA': 'Basic Industries',
 'CVBF': 'Finance',
 'CVCO': 'Basic Industries',
 'CVEO': 'Consumer Services',
 'CVG': 'Technology',
 'CVGI': 'Capital Goods',
 'CVGW': 'Consumer Non-Durables',
 'CVI': 'Energy',
 'CVLT': 'Technology',
 'CVS': 'Health Care',
 'CVX': 'Energy',
 'CW': 'Technology',
 'CWCO': 'Public Utilities',
 'CWH': 'Consumer Durables',
 'CWST': 'Public Utilities',
 'CWT': 'Public Utilities',
 'CXO': 'Energy',
 'CXW': 'Consumer Services',
 'CY': 'Technology',
 'CYH': 'Health Care',
 'CYS': 'Consumer Services',
 'CYTK': 'Health Care',
 'CYTR': 'Health Care',
 'CYTX': 'Health Care',
 'CZNC': 'Finance',
 'CZR': 'Consumer Services',
 'D': 'Public Utilities',
 'DAKT': 'Consumer Durables',
 'DAL': 'Transportation',
 'DAN': 'Capital Goods',
 'DAR': 'Consumer Non-Durables',
 'DATA': 'Technology',
 'DAVE': 'Consumer Services',
 'DBD': 'Miscellaneous',
 'DCI': 'Capital Goods',
 'DCO': 'Capital Goods',
 'DCOM': 'Finance',
 'DCT': 'Consumer Services',
 'DDD': 'Technology',
 'DDR': 'Consumer Services',
 'DDS': 'Consumer Services',
 'DE': 'Capital Goods',
 'DECK': 'Consumer Non-Durables',
 'DEI': 'Consumer Services',
 'DENN': 'Consumer Services',
 'DEPO': 'Health Care',
 'DEST': 'Consumer Services',
 'DF': 'Consumer Non-Durables',
 'DFRG': 'Consumer Services',
 'DFS': 'Finance',
 'DG': 'Consumer Services',
 'DGICA': 'Finance',
 'DGII': 'Technology',
 'DGX': 'Health Care',
 'DHI': 'Capital Goods',
 'DHIL': 'Finance',
 'DHR': 'Capital Goods',
 'DHT': 'Transportation',
 'DHX': 'Miscellaneous',
 'DIN': 'Consumer Services',
 'DIOD': 'Technology',
 'DIS': 'Consumer Services',
 'DISCA': 'Consumer Services',
 'DISCK': 'Consumer Services',
 'DISH': 'Consumer Services',
 'DJCO': 'Consumer Services',
 'DK': 'Energy',
 'DKS': 'Consumer Services',
 'DLB': 'Miscellaneous',
 'DLPH': 'Capital Goods',
 'DLR': 'Consumer Services',
 'DLTR': 'Consumer Services',
 'DLX': 'Consumer Durables',
 'DMRC': 'Technology',
 'DNB': 'Finance',
 'DNKN': 'Consumer Services',
 'DNR': 'Energy',
 'DO': 'Energy',
 'DOC': 'Consumer Services',
 'DOOR': 'Basic Industries',
 'DORM': 'Capital Goods',
 'DOV': 'Technology',
 'DOX': 'Technology',
 'DPS': 'Consumer Non-Durables',
 'DPZ': 'Consumer Non-Durables',
 'DRE': 'Consumer Services',
 'DRH': 'Consumer Services',
 'DRI': 'Consumer Services',
 'DRIV': nan,
 'DRNA': 'Health Care',
 'DRQ': 'Energy',
 'DSPG': 'Technology',
 'DSW': 'Consumer Services',
 'DTE': 'Public Utilities',
 'DTV': 'Public Utilities',
 'DUK': 'Public Utilities',
 'DVA': 'Health Care',
 'DVAX': 'Health Care',
 'DVN': 'Energy',
 'DWDP': 'Basic Industries',
 'DWSN': 'Energy',
 'DX': 'Consumer Services',
 'DXC': 'Technology',
 'DXCM': 'Health Care',
 'DXLG': 'Consumer Services',
 'DXPE': 'Capital Goods',
 'DXYN': 'Consumer Durables',
 'DY': 'Basic Industries',
 'EA': 'Technology',
 'EAT': 'Consumer Services',
 'EBAY': 'Miscellaneous',
 'EBF': 'Consumer Services',
 'EBIX': 'Technology',
 'EBS': 'Health Care',
 'EBSB': 'Finance',
 'EBTC': 'Finance',
 'ECHO': 'Transportation',
 'ECL': 'Basic Industries',
 'ECOL': 'Public Utilities',
 'ECPG': 'Finance',
 'ECYT': 'Health Care',
 'ED': 'Public Utilities',
 'EDR': 'Consumer Services',
 'EE': 'Public Utilities',
 'EEFT': 'Finance',
 'EFII': 'Technology',
 'EFSC': 'Finance',
 'EFX': 'Finance',
 'EGAN': 'Technology',
 'EGBN': 'Finance',
 'EGHT': 'Public Utilities',
 'EGL': 'Consumer Services',
 'EGLT': 'Health Care',
 'EGN': 'Energy',
 'EGOV': 'Miscellaneous',
 'EGP': 'Consumer Services',
 'EGY': 'Energy',
 'EHTH': 'Finance',
 'EIG': 'Finance',
 'EIGI': 'Technology',
 'EIX': 'Public Utilities',
 'EL': 'Consumer Non-Durables',
 'ELGX': 'Health Care',
 'ELLI': 'Technology',
 'ELS': 'Consumer Services',
 'ELY': 'Consumer Non-Durables',
 'EMCI': 'Finance',
 'EME': 'Capital Goods',
 'EMN': 'Basic Industries',
 'EMR': 'Energy',
 'ENDP': 'Health Care',
 'ENPH': 'Technology',
 'ENR': 'Miscellaneous',
 'ENS': 'Consumer Non-Durables',
 'ENSG': 'Health Care',
 'ENT': 'Consumer Services',
 'ENTA': 'Health Care',
 'ENTG': 'Consumer Non-Durables',
 'ENV': 'Miscellaneous',
 'ENZ': 'Health Care',
 'EOG': 'Energy',
 'EPAM': 'Technology',
 'EPAY': 'Technology',
 'EPM': 'Energy',
 'EPR': 'Consumer Services',
 'EPZM': 'Health Care',
 'EQIX': 'Consumer Services',
 'EQR': 'Consumer Services',
 'EQT': 'Energy',
 'ERA': 'Transportation',
 'ERIE': 'Finance',
 'ERII': 'Technology',
 'EROS': 'Consumer Services',
 'ES': 'Public Utilities',
 'ESCA': 'Consumer Non-Durables',
 'ESE': 'Consumer Durables',
 'ESGR': 'Finance',
 'ESIO': 'Miscellaneous',
 'ESL': 'Capital Goods',
 'ESNT': 'Finance',
 'ESPR': 'Health Care',
 'ESRT': 'Consumer Services',
 'ESRX': 'Health Care',
 'ESS': 'Consumer Services',
 'ESSA': 'Finance',
 'ESV': 'Energy',
 'ETFC': 'Finance',
 'ETH': 'Consumer Durables',
 'ETM': 'Consumer Services',
 'ETN': 'Technology',
 'ETR': 'Public Utilities',
 'EV': 'Finance',
 'EVC': 'Consumer Services',
 'EVER': 'Technology',
 'EVHC': 'Health Care',
 'EVR': 'Finance',
 'EVTC': 'Technology',
 'EW': 'Health Care',
 'EWBC': 'Finance',
 'EXAS': 'Health Care',
 'EXC': 'Public Utilities',
 'EXEL': 'Health Care',
 'EXLS': 'Miscellaneous',
 'EXP': 'Capital Goods',
 'EXPD': 'Transportation',
 'EXPE': 'Consumer Services',
 'EXPO': 'Consumer Services',
 'EXPR': 'Consumer Services',
 'EXR': 'Consumer Services',
 'EXTR': 'Technology',
 'EZPW': 'Consumer Services',
 'F': 'Capital Goods',
 'FAF': 'Finance',
 'FANG': 'Energy',
 'FARM': 'Consumer Non-Durables',
 'FARO': 'Capital Goods',
 'FAST': 'Consumer Services',
 'FB': 'Technology',
 'FBC': 'Finance',
 'FBHS': 'Basic Industries',
 'FBIZ': 'Finance',
 'FBNC': 'Finance',
 'FBNK': 'Finance',
 'FBP': 'Finance',
 'FC': 'Consumer Services',
 'FCBC': 'Finance',
 'FCEL': 'Miscellaneous',
 'FCF': 'Finance',
 'FCFS': 'Consumer Services',
 'FCN': 'Consumer Services',
 'FCNCA': 'Finance',

In [13]:
prices = prices.filter(sectors.keys()).dropna(how='all', axis=1)
prices

ticker,A,AA,AAL,AAMC,AAN,AAOI,AAON,AAP,AAPL,AAT,...,ZEN,ZEUS,ZGNX,ZION,ZIOP,ZIXI,ZNGA,ZOES,ZTS,ZUMZ
date,,,,,,,,,,,,,,,,,,,,,
2010-01-04,21.354133,NaN,12.394092,NaN,14.391425,NaN,5.472257,39.554636,27.503268,NaN,...,NaN,32.810030,NaN,12.807981,2.95,1.78,NaN,NaN,NaN,12.360
2010-01-05,21.122172,NaN,13.797197,NaN,14.520197,NaN,5.313483,39.319541,27.550818,NaN,...,NaN,32.596789,NaN,13.259575,3.05,1.70,NaN,NaN,NaN,12.290
2010-01-06,21.047125,NaN,13.225561,NaN,14.520197,NaN,5.102695,39.662387,27.112585,NaN,...,NaN,33.876235,NaN,14.412582,3.08,1.70,NaN,NaN,NaN,12.680
2010-01-07,21.019836,NaN,13.615313,NaN,14.637558,NaN,5.291583,39.652592,27.062465,NaN,...,NaN,33.440060,NaN,16.026791,3.04,2.22,NaN,NaN,NaN,14.660
2010-01-08,21.013013,NaN,13.355478,NaN,14.539757,NaN,5.354545,39.809321,27.242385,NaN,...,NaN,34.486880,NaN,15.767365,3.10,2.12,NaN,NaN,NaN,14.730
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-12-22,67.350000,49.99,52.590000,77.8,40.260000,39.96,36.750000,100.550000,175.010000,37.74,...,33.67,22.150000,38.70,51.330000,4.05,4.45,4.00,17.19,71.99,21.450
2017-12-26,67.250000,50.38,52.850000,77.8,40.360000,38.91,36.600000,101.960000,170.570000,37.95,...,33.81,22.200000,40.10,50.860000,4.07,4.44,3.95,17.07,72.34,21.850
2017-12-27,67.300000,51.84,52.400000,74.0,40.600000,38.66,36.500000,99.770000,170.600000,37.91,...,33.78,21.830000,40.30,50.710000,4.03,4.56,4.01,17.57,72.45,21.150
2017-12-28,67.450000,54.14,52.460000,74.0,40.240000,38.86,36.800000,99.710000,171.080000,38.41,...,33.94,21.700000,42.20,51.340000,4.00,4.41,3.97,17.29,72.39,21.200
2017-12-29,66.970000,53.87,52.030000,81.6,39.850000,37.82,36.700000,99.690000,169.230000,38.24,...,33.84,21.490000,40.05,50.830000,4.14,4.38,4.00,16.72,72.04,20.825

In [19]:
returns = prices.resample('M').last().pct_change().mul(100).to_period('M')
returns = returns.dropna(how='all').dropna(axis=1)
returns.info()
returns

<class 'pandas.core.frame.DataFrame'>
PeriodIndex: 95 entries, 2010-02 to 2017-12
Freq: M
Columns: 1986 entries, A to ZUMZ
dtypes: float64(1986)
memory usage: 1.4 MB

ticker,A,AAL,AAN,AAON,AAP,AAPL,AAWW,ABAX,ABC,ABCB,...,YRCW,YUM,ZAGG,ZBH,ZBRA,ZEUS,ZION,ZIOP,ZIXI,ZUMZ
date,,,,,,,,,,,,,,,,,,,,,
2010-02,12.236889,38.041431,7.757848,2.185527,3.422053,6.537959,22.934279,5.440199,3.163980,1.713062,...,-50.549451,-1.432330,29.702970,1.793327,9.463602,-0.220951,-2.212411,6.389776,2.659574,12.647290
2010-03,9.313414,0.272851,13.068473,7.509506,2.887175,14.847034,17.679681,7.089405,3.138374,-4.215479,...,17.777778,13.671412,8.015267,3.261816,3.605180,18.040492,17.799353,52.552553,19.689119,42.887029
2010-04,5.437627,-3.809524,3.646409,6.763926,7.585878,11.102128,4.184731,-4.771975,6.673582,23.255814,...,3.773585,11.228094,7.416961,2.888512,-1.858108,-2.664625,31.547619,16.535433,6.926407,-9.419229
2010-05,-10.755654,24.893918,-14.658849,2.194617,14.767184,-1.612471,-5.427899,-13.063628,1.658232,1.257862,...,-35.418182,-3.465347,-22.694825,-8.175997,-5.335628,-13.214885,-16.606132,-14.695946,-4.858300,-7.758621
2010-06,-12.144623,-2.491506,-14.363696,-4.808984,-2.938203,-2.082685,-9.125694,-4.797868,1.502558,-13.874292,...,-57.770270,-4.664225,22.127660,-3.361346,-7.745455,-16.654572,-9.937370,-37.029703,-3.829787,-5.899533
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-08,8.245526,-11.117858,-4.343129,-3.550296,-12.597090,10.625073,12.457912,-1.357917,-14.073315,-3.820961,...,0.752445,1.775305,49.112426,-5.811078,1.346834,6.905658,-3.406683,15.551537,-0.375235,-1.968504
2017-09,-0.803461,6.146625,-1.383225,5.751534,1.392784,-6.024390,-1.497006,-3.396798,3.115265,9.080827,...,3.061987,-4.178599,25.000000,2.685355,5.325444,20.547945,8.062300,-3.912363,-7.909605,45.381526
2017-10,6.181355,-1.410823,-15.654366,1.522843,-17.600806,9.680768,-6.762918,8.398656,-7.009063,-0.104275,...,-2.391304,1.141149,-0.634921,3.868819,6.824461,-14.181818,-1.526070,-24.104235,-0.817996,-2.486188
2017-11,1.778627,7.838531,2.500000,4.142857,23.562515,1.662328,-5.867971,0.702479,10.758704,3.549061,...,-8.537491,12.115514,30.670927,-3.716494,-4.888352,5.508475,6.650882,-1.931330,-9.278351,23.512748
2017-12,-3.278452,3.050109,5.646872,0.685871,-1.297030,-1.524585,1.558442,1.600328,8.252771,-2.822581,...,16.720779,-2.228346,-9.779951,3.048676,-5.910080,7.881526,2.583249,-9.409190,-0.454545,-4.472477

In [20]:
ff_factor_data

         Mkt-RF   SMB   HML   RMW   CMA    RF
Date
2010-01   -3.36  0.35  0.43 -1.23  0.44  0.00
2010-02    3.40  1.51  3.22 -0.28  1.40  0.00
2010-03    6.31  1.85  2.21 -0.63  1.67  0.01
2010-04    2.00  4.98  2.89  0.70  1.74  0.01
2010-05   -7.89  0.04 -2.44  1.27 -0.23  0.01
...         ...   ...   ...   ...   ...   ...
2017-08    0.16 -1.82 -2.07  0.12 -2.35  0.09
2017-09    2.51  4.74  3.09 -1.50  1.63  0.09
2017-10    2.25 -1.95  0.22  0.85 -3.23  0.09
2017-11    3.12 -0.35 -0.05  3.17 -0.10  0.08
2017-12    1.06 -1.07  0.03  0.75  1.66  0.09

[96 rows x 6 columns]

In [21]:
ff_factor_data = ff_factor_data.loc[returns.index]
ff_factor_data

         Mkt-RF   SMB   HML   RMW   CMA    RF
Date
2010-02    3.40  1.51  3.22 -0.28  1.40  0.00
2010-03    6.31  1.85  2.21 -0.63  1.67  0.01
2010-04    2.00  4.98  2.89  0.70  1.74  0.01
2010-05   -7.89  0.04 -2.44  1.27 -0.23  0.01
2010-06   -5.57 -2.47 -4.70 -0.18 -1.55  0.01
...         ...   ...   ...   ...   ...   ...
2017-08    0.16 -1.82 -2.07  0.12 -2.35  0.09
2017-09    2.51  4.74  3.09 -1.50  1.63  0.09
2017-10    2.25 -1.95  0.22  0.85 -3.23  0.09
2017-11    3.12 -0.35 -0.05  3.17 -0.10  0.08
2017-12    1.06 -1.07  0.03  0.75  1.66  0.09

[95 rows x 6 columns]

In [22]:
ff_portfolio_data = ff_portfolio_data.loc[returns.index]
ff_portfolio_data

,Food,Mines,Oil,Clths,Durbl,Chems,Cnsum,Cnstr,Steel,FabPr,Machn,Cars,Trans,Utils,Rtail,Finan,Other
Date,,,,,,,,,,,,,,,,,
2010-02,1.86,12.38,2.26,6.70,9.94,5.79,1.38,5.90,4.20,7.32,7.31,6.52,5.98,-0.41,3.70,2.70,2.48
2010-03,5.05,7.23,3.21,11.13,5.55,7.50,3.26,5.54,12.03,5.29,7.75,8.87,8.99,3.12,6.46,8.16,6.43
2010-04,-1.29,-0.85,4.31,4.75,6.87,2.48,-1.97,10.86,-2.64,3.43,4.81,6.75,3.06,2.84,1.35,0.92,1.72
2010-05,-4.82,-7.96,-10.11,-5.99,-5.52,-10.57,-6.28,-8.09,-7.02,-9.00,-8.10,-6.89,-7.61,-6.30,-5.72,-9.22,-7.89
2010-06,-1.91,-7.09,-6.16,-9.69,-8.76,-7.97,-0.11,-14.16,-13.19,-6.38,-5.98,-7.69,-7.31,-0.70,-9.18,-7.37,-5.69
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-08,-1.88,0.65,-5.21,-4.70,-3.69,1.49,0.55,-0.45,1.56,-1.53,1.27,0.67,1.50,2.11,-1.43,-1.31,1.68
2017-09,-0.28,-1.21,10.89,0.94,4.49,6.92,0.56,7.73,3.63,7.29,5.61,7.45,4.69,-2.06,0.65,5.13,0.18
2017-10,0.88,1.25,0.28,3.15,-1.65,4.70,-3.68,3.95,2.14,1.63,5.99,1.09,-0.34,2.98,3.89,3.30,2.47
2017-11,4.22,0.77,2.85,7.37,3.76,2.34,2.68,6.90,-1.46,0.36,2.35,2.53,5.47,2.34,8.78,3.85,1.67
2017-12,1.19,11.30,5.01,3.81,-2.43,0.42,1.76,3.79,13.10,0.51,0.26,-0.60,2.93,-5.11,1.46,0.96,0.67

In [29]:
excess_returns = returns.sub(ff_factor_data.RF, axis=0)
excess_returns

ticker,A,AAL,AAN,AAON,AAP,AAPL,AAWW,ABAX,ABC,ABCB,...,YRCW,YUM,ZAGG,ZBH,ZBRA,ZEUS,ZION,ZIOP,ZIXI,ZUMZ
date,,,,,,,,,,,,,,,,,,,,,
2010-02,12.236889,38.041431,7.757848,2.185527,3.422053,6.537959,22.934279,5.440199,3.163980,1.713062,...,-50.549451,-1.432330,29.702970,1.793327,9.463602,-0.220951,-2.212411,6.389776,2.659574,12.647290
2010-03,9.303414,0.262851,13.058473,7.499506,2.877175,14.837034,17.669681,7.079405,3.128374,-4.225479,...,17.767778,13.661412,8.005267,3.251816,3.595180,18.030492,17.789353,52.542553,19.679119,42.877029
2010-04,5.427627,-3.819524,3.636409,6.753926,7.575878,11.092128,4.174731,-4.781975,6.663582,23.245814,...,3.763585,11.218094,7.406961,2.878512,-1.868108,-2.674625,31.537619,16.525433,6.916407,-9.429229
2010-05,-10.765654,24.883918,-14.668849,2.184617,14.757184,-1.622471,-5.437899,-13.073628,1.648232,1.247862,...,-35.428182,-3.475347,-22.704825,-8.185997,-5.345628,-13.224885,-16.616132,-14.705946,-4.868300,-7.768621
2010-06,-12.154623,-2.501506,-14.373696,-4.818984,-2.948203,-2.092685,-9.135694,-4.807868,1.492558,-13.884292,...,-57.780270,-4.674225,22.117660,-3.371346,-7.755455,-16.664572,-9.947370,-37.039703,-3.839787,-5.909533
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-08,8.155526,-11.207858,-4.433129,-3.640296,-12.687090,10.535073,12.367912,-1.447917,-14.163315,-3.910961,...,0.662445,1.685305,49.022426,-5.901078,1.256834,6.815658,-3.496683,15.461537,-0.465235,-2.058504
2017-09,-0.893461,6.056625,-1.473225,5.661534,1.302784,-6.114390,-1.587006,-3.486798,3.025265,8.990827,...,2.971987,-4.268599,24.910000,2.595355,5.235444,20.457945,7.972300,-4.002363,-7.999605,45.291526
2017-10,6.091355,-1.500823,-15.744366,1.432843,-17.690806,9.590768,-6.852918,8.308656,-7.099063,-0.194275,...,-2.481304,1.051149,-0.724921,3.778819,6.734461,-14.271818,-1.616070,-24.194235,-0.907996,-2.576188
2017-11,1.698627,7.758531,2.420000,4.062857,23.482515,1.582328,-5.947971,0.622479,10.678704,3.469061,...,-8.617491,12.035514,30.590927,-3.796494,-4.968352,5.428475,6.570882,-2.011330,-9.358351,23.432748
2017-12,-3.368452,2.960109,5.556872,0.595871,-1.387030,-1.614585,1.468442,1.510328,8.162771,-2.912581,...,16.630779,-2.318346,-9.869951,2.958676,-6.000080,7.791526,2.493249,-9.499190,-0.544545,-4.562477

In [32]:
excess_returns = excess_returns.clip(
    lower=np.percentile(excess_returns, 1),
    upper=np.percentile(excess_returns, 99)
)
excess_returns

ticker,A,AAL,AAN,AAON,AAP,AAPL,AAWW,ABAX,ABC,ABCB,...,YRCW,YUM,ZAGG,ZBH,ZBRA,ZEUS,ZION,ZIOP,ZIXI,ZUMZ
date,,,,,,,,,,,,,,,,,,,,,
2010-02,12.236889,33.993800,7.757848,2.185527,3.422053,6.537959,22.934279,5.440199,3.163980,1.713062,...,-26.323956,-1.432330,29.702970,1.793327,9.463602,-0.220951,-2.212411,6.389776,2.659574,12.647290
2010-03,9.303414,0.262851,13.058473,7.499506,2.877175,14.837034,17.669681,7.079405,3.128374,-4.225479,...,17.767778,13.661412,8.005267,3.251816,3.595180,18.030492,17.789353,33.993800,19.679119,33.993800
2010-04,5.427627,-3.819524,3.636409,6.753926,7.575878,11.092128,4.174731,-4.781975,6.663582,23.245814,...,3.763585,11.218094,7.406961,2.878512,-1.868108,-2.674625,31.537619,16.525433,6.916407,-9.429229
2010-05,-10.765654,24.883918,-14.668849,2.184617,14.757184,-1.622471,-5.437899,-13.073628,1.648232,1.247862,...,-26.323956,-3.475347,-22.704825,-8.185997,-5.345628,-13.224885,-16.616132,-14.705946,-4.868300,-7.768621
2010-06,-12.154623,-2.501506,-14.373696,-4.818984,-2.948203,-2.092685,-9.135694,-4.807868,1.492558,-13.884292,...,-26.323956,-4.674225,22.117660,-3.371346,-7.755455,-16.664572,-9.947370,-26.323956,-3.839787,-5.909533
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-08,8.155526,-11.207858,-4.433129,-3.640296,-12.687090,10.535073,12.367912,-1.447917,-14.163315,-3.910961,...,0.662445,1.685305,33.993800,-5.901078,1.256834,6.815658,-3.496683,15.461537,-0.465235,-2.058504
2017-09,-0.893461,6.056625,-1.473225,5.661534,1.302784,-6.114390,-1.587006,-3.486798,3.025265,8.990827,...,2.971987,-4.268599,24.910000,2.595355,5.235444,20.457945,7.972300,-4.002363,-7.999605,33.993800
2017-10,6.091355,-1.500823,-15.744366,1.432843,-17.690806,9.590768,-6.852918,8.308656,-7.099063,-0.194275,...,-2.481304,1.051149,-0.724921,3.778819,6.734461,-14.271818,-1.616070,-24.194235,-0.907996,-2.576188
2017-11,1.698627,7.758531,2.420000,4.062857,23.482515,1.582328,-5.947971,0.622479,10.678704,3.469061,...,-8.617491,12.035514,30.590927,-3.796494,-4.968352,5.428475,6.570882,-2.011330,-9.358351,23.432748
2017-12,-3.368452,2.960109,5.556872,0.595871,-1.387030,-1.614585,1.468442,1.510328,8.162771,-2.912581,...,16.630779,-2.318346,-9.869951,2.958676,-6.000080,7.791526,2.493249,-9.499190,-0.544545,-4.562477

In [37]:
ff_portfolio_data.info()
ff_factor_data.info()

<class 'pandas.core.frame.DataFrame'>
PeriodIndex: 95 entries, 2010-02 to 2017-12
Freq: M
Data columns (total 17 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Food    95 non-null     float64
 1   Mines   95 non-null     float64
 2   Oil     95 non-null     float64
 3   Clths   95 non-null     float64
 4   Durbl   95 non-null     float64
 5   Chems   95 non-null     float64
 6   Cnsum   95 non-null     float64
 7   Cnstr   95 non-null     float64
 8   Steel   95 non-null     float64
 9   FabPr   95 non-null     float64
 10  Machn   95 non-null     float64
 11  Cars    95 non-null     float64
 12  Trans   95 non-null     float64
 13  Utils   95 non-null     float64
 14  Rtail   95 non-null     float64
 15  Finan   95 non-null     float64
 16  Other   95 non-null     float64
dtypes: float64(17)
memory usage: 13.4 KB
<class 'pandas.core.frame.DataFrame'>
PeriodIndex: 95 entries, 2010-02 to 2017-12
Freq: M
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Mkt-RF  95 non-null     float64
 1   SMB     95 non-null     float64
 2   HML     95 non-null     float64
 3   RMW     95 non-null     float64
 4   CMA     95 non-null     float64
dtypes: float64(5)
memory usage: 6.5 KB

In [68]:
betas = []
for industry in ff_portfolio_data: 
    
    step1 = OLS(
        endog=ff_portfolio_data.loc[ff_factor_data.index, industry],
        exog=add_constant(ff_factor_data)
    ).fit()

    betas.append(step1.params.drop('const'))

In [69]:

# Factor Exposures

betas = pd.DataFrame(
    betas, 
    columns=ff_factor_data.columns, 
    index=ff_portfolio_data.columns
)

betas

         Mkt-RF       SMB       HML       RMW       CMA
Food   0.685824 -0.311271 -0.357978  0.304619  0.491502
Mines  1.308106  0.183644  0.216971  0.215237  0.548430
Oil    1.035479  0.164404  0.639833 -0.007985  0.330022
Clths  0.966673  0.364617 -0.131769  0.630270 -0.050593
Durbl  1.178528  0.531392  0.070112  0.545313 -0.127391
Chems  1.351316  0.179424  0.190690  0.165538 -0.240740
Cnsum  0.761122 -0.343972 -0.563252 -0.062307  0.594176
Cnstr  1.114911  0.427349  0.090414 -0.020679  0.167760
Steel  1.469244  0.419648  0.416313  0.192035  0.446657
FabPr  1.067587  0.464127 -0.041013  0.155381  0.201250
Machn  1.187786  0.178357  0.040305  0.059819 -0.378799
Cars   1.189301  0.601499  0.038658  0.051380 -0.020633
Trans  1.020680  0.260529  0.007083  0.390626  0.284554
Utils  0.501396 -0.255620 -0.298547  0.228441  0.556269
Rtail  0.904159  0.134177 -0.367123  0.691372  0.186998
Finan  1.055779  0.075319  0.744963 -0.445529 -0.518808
Other  1.038860 -0.117938 -0.192922 -0.066863  0.005531

In [ ]:

# Risk Premia